# Practical session 1 - Some Python basics

Students (pair):
- [Corentin Fleury]([link](https://github.com/jkjky))
- [Isolde Durand]([link](https://github.com/isoldedd))

In [ ]:
%load_ext autoreload
%autoreload 2

## Documentation

To display the documentation associated to a Python function in your notebook (launched in VSCode), you can either
- run `?functionname` or `help(my_adder)`
- place your mouse pointer on the function name
- write the name of the function and start opening the brackets

## Zen of Python

In [ ]:
import this

## Reserved keywords

In [ ]:
import keyword
print(keyword.kwlist)

## Arithmetic

Compute 4 raised to the power 8

In [1]:
4**8

65536

Compute the quotient and the remainder of the euclidean division of 17 by 3.

In [3]:
17//3

5

Create two integer variables `a, b` of your choice and swap their content.

In [ ]:
a,b = 2, 3
a = a+b
b = a-b
a = a-b
a,b

(3, 2)

Modify `a` inplace, so that the new value of `a` is twice its previous value.

In [6]:
a = 3
a*=2
a

6

Define a complex number `z` and print it as

`(real=z.real, imag=z.imaginary)`

In [11]:
z = 5 + 5j
real, imag= z.real, z.imag
print(f"real = {real}, imag = {imag}")

real = 5.0, imag = 5.0

## Strings

Propose two ways to define an empty string

In [15]:
str1 = ""
str2 = ''

Define a string made of the 26 letters of the alphabet (lower case), then
- What is the 12th letter of the alphabet
- What are the 10 last letters of the alphabet
- What are the 5th to the 10th letters of the alphabet
- Create a new string where the 26 letters are converted to upper case.

In [18]:
alpha = 'abcdefghijklmnopqrstuvwxyz'
print(f"The 12th letter is {alpha[11]}\nThe 10 last letters are {alpha[-10:]}\nThe 5th to 10th letters are {alpha[4:10]}")
ALPHA = alpha.upper()
ALPHA

The 12th letter is l
The 10 last letters are qrstuvwxyz
The 5th to 10th letters are efghij

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

Extract the first 4 digits of the number `x = 2341324530045968` (answer is `2341`).

In [ ]:
x = 2341324530045968
str(x)[0:4]

'2341'

## Lists

Propose two ways to define an empty list.

In [22]:
list1 = []
list2 = list()
list1, list2

([], [])

Create the list of consecutive integers from 5 to 11.

In [23]:
integerList = [i for i in range (5,12)]
integerList

[5, 6, 7, 8, 9, 10, 11]

Add `100` to this list.

In [24]:
integerList.append(100)
integerList

[5, 6, 7, 8, 9, 10, 11, 100]

Given the following list, 
Change the `"sdia"` to its reverse (`"aids"`).

In [25]:
x = [10, [3, 4], [5, [100, 200, ["sdia"]], 23, 11], 1, 7]
x[2][1][2][0] = x[2][1][2][0][::-1]
x

[10, [3, 4], [5, [100, 200, ['aids']], 23, 11], 1, 7]

Given the following list, 

  1. extract the first two items
  2. extract the last two items
  3. find the index of the first occurence of `9`
  4. extract the items located at odd indices
  5. create a new list which corresponds to the reversed version of the originial list
  6. create a new list where each item of the original list is raised to the power 3

In [44]:
x = [3, 7, 5, 3, 8, 6, 8, 8, 0, 7, 3, 9, 3, 4, 2, 7, 0, 9, 5, 0, 0, 9, 0, 9, 3, 1, 4, 0, 5, 5, 5, 8, 9, 9, 5, 5, 4, 9, 5, 6, 2, 8, 5, 2, 4, 9, 2, 2, 3, 1]

In [36]:
x[:2]

[3, 7]

In [37]:
x[-2:]

[3, 1]

In [ ]:
x.index(9)

11

In [39]:
y = [x[i] for i in range(len(x)) if i % 2 == 1]
y

[7, 3, 6, 8, 7, 9, 4, 7, 9, 0, 9, 9, 1, 0, 5, 8, 9, 5, 9, 6, 8, 2, 9, 2, 1]

In [45]:
revertX = x[::-1]
revertX

[1,
 3,
 2,
 2,
 9,
 4,
 2,
 5,
 8,
 2,
 6,
 5,
 9,
 4,
 5,
 5,
 9,
 9,
 8,
 5,
 5,
 5,
 0,
 4,
 1,
 3,
 9,
 0,
 9,
 0,
 0,
 5,
 9,
 0,
 7,
 2,
 4,
 3,
 9,
 3,
 7,
 0,
 8,
 8,
 6,
 8,
 3,
 5,
 7,
 3]

In [46]:
xpower3 = [i**3 for i in x]
xpower3

[27,
 343,
 125,
 27,
 512,
 216,
 512,
 512,
 0,
 343,
 27,
 729,
 27,
 64,
 8,
 343,
 0,
 729,
 125,
 0,
 0,
 729,
 0,
 729,
 27,
 1,
 64,
 0,
 125,
 125,
 125,
 512,
 729,
 729,
 125,
 125,
 64,
 729,
 125,
 216,
 8,
 512,
 125,
 8,
 64,
 729,
 8,
 8,
 27,
 1]

## Tuples


Propose two ways to define an empty tuple.

In [ ]:
t1 = ()
t2 = tuple()
t1, t2

((), ())

Given the following tuple
- try to replace the second item (`4`) to `8`.
- modify the list so that the second element of the first item is raised to the power 5

x = ([1, 2, 3], 4)

In [48]:
x = ([1, 2, 3], 4)
x[1] = 5

TypeError: 'tuple' object does not support item assignment

In [49]:
x[0][1]**=5
x

([1, 32, 3], 4)

What is the main difference between a list and a tuple?

Tuple are not mutable meanwhile lists are

## Sets

Create an empty set

In [73]:
s = set()
s

set()

Compute the intersection between $A = \{1, 2, 3\}$ and $B = \{2, 4, 5, 6\}$.

In [51]:
A = {1,2,3}
B = {2,4,5,6}
A.intersection(B)

{2}

From the following set
- add the numbers 4, 5, 6
- remove the numbers 1, 2, 3
- check if the resulting set is contained in `{1, 2, 4, 5, 6, 10}`

In [61]:
testSet = {0, 1, 2, 3, 6, 7, 8, 9, 10}

In [63]:
testSet.update({4, 5, 6})
testSet

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [64]:
testSet -= {1, 2, 3}
testSet

{0, 4, 5, 6, 7, 8, 9, 10}

In [65]:
testSet.issubset({1, 2, 4, 5, 6, 10})

False

## Dictionnaries

Propose two ways to define an empty dictionary

In [74]:
dict1 = dict()
dict2 = {}
dict1, dict2

({}, {})

Propose at least 3 ways to define a dictionary with 
- keys `("a", "b", "c", "d")`
- values `(1, 3, 5 , 7)`

In [75]:
dico1 = {"a": 1, "b": 3, "c": 5, "d": 7}
dico2 = dict(a=1, b=3, c=5, d=7)
dico3 = dict([("a", 1), ("b", 3), ("c", 5), ("d", 7)])
dico1, dico2, dico3

({'a': 1, 'b': 3, 'c': 5, 'd': 7},
 {'a': 1, 'b': 3, 'c': 5, 'd': 7},
 {'a': 1, 'b': 3, 'c': 5, 'd': 7})

Given the following dictionary, use indexing to get to the word `"sdia"`

In [76]:
d = {
    "outer": [
        1,
        2,
        3,
        {"inner": ["this", "is", "inception", {"inner_inner": [1, 2, 3, "sdia"]}]},
    ]
}

In [77]:
d["outer"][3]["inner"][3]["inner_inner"][3]

'sdia'

From the following dictionary,
- Create the list of keys
- Create the list of values
- Check if the key `"abc"` is present, if not, return `123`.
- Merge the initial dictionary with `{"e": -1, 4: True}`

In [79]:
d1 = dict(zip([(0, 1), "e", 1, None], ["abc", 4, None, 1 + 2j]))

In [82]:
list(d1.keys())

[(0, 1), 'e', 1, None]

In [83]:
list(d1.values())

['abc', 4, None, (1+2j)]

In [84]:
if "abc" in d1.keys():
    print("Found")
else:
    print(123)

123

In [85]:
d1.update({"e": -1, 4: True})
d1

{(0, 1): 'abc', 'e': -1, 1: None, None: (1+2j), 4: True}

## Conditions

Propose two ways to construct the list of odd values ranging from 0 to 30

In [88]:
odd1 = [i for i in range (31) if i%2 ==1]
odd2 = list(range(1,31,2))
odd1, odd2

([1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29])

From the following list, create another list which contains
- `"fiz"` if the item is a multiple of 5,
- `"buz"` if the item is a multiple of 7,
- `"fizbuz"` if the item is a both a multiple of 5 and 7,
- the index of the item otherwise.

In [90]:
x = [2, 1, 3, 31, 35, 20, 70, 132, 144, 49]

In [ ]:
l=[]
for ind, val in enumerate(x):
    if val%5==0 and val%7==0:
        l.append("fizbuz")
    elif val%5==0:
        l.append("fiz")
    elif val%7==0:
        l.append("buz")
    else:
        l.append(ind)
l

[0, 1, 2, 3, 'fizbuz', 'fiz', 'fizbuz', 7, 8, 'buz']

Given a string variable `course`, construct a `if/elif/else` statement that prints:
- `"That is very useful!"` if `course` is `"maths"` (any kind of capitalization)
- `"That is very useful!"` if `course` is `"python"` (any kind of capitalization)
- `"How nice!"` if `course` is `"meditation"` (any kind of capitalization)
- `"You're not at Hogwarts"` if `course` is `"magic"` (any kind of capitalization)
- otherwise `"What is this COURSE?"` if `course` is anything else.

In [97]:
course = input("What is your course name? ")
if course.lower() == "maths":
    print("That is very useful!")
elif course.lower() == "python":
    print("That is very useful!")
elif course.lower() == "meditation":
    print("How nice!")
elif course.lower() == "magic":
    print("You're not at Hogwarts")
else:
    print("What is this COURSE?")

What is this COURSE?

Given the following variables, create and print the string

``quantity`` ``fruit``(s) cost(s) $``price``

such that
- there is an `"s"` at `"cost"` when there is more only one fruit,
- there is an `"s"` at `"fruit"` when there is more that one fruit,
- the price is displayed as ...,xxx,xxx.yy where yy corresponds rounded cents value

In [105]:
quantity = 1
fruit = "avocado"
price = 1.89123924

In [106]:
print(f"{quantity} {fruit}{'s' if quantity > 1 else ''} cost{'s' if quantity == 1 else ''} ${quantity*price:.2f}")

1 avocado costs $1.89

## Functions

Define the function `is_unique(x)` which takes a list of integers `x` as input and returns `True` if the there is no duplicate items otherwise return `False`.

In [107]:
def is_unique(lst):
    return len(lst) == len(set(lst))

In [109]:
is_unique([1,2,3,4,5,6,7,8,9,10]) #no duplicate

True

In [110]:
is_unique([1,2,3,4,5,6,7,8,9,10,1]) #has duplicate

False

Define a function `triangle_shape(height)`, that returns 
- `""` if `height=0`, 
- otherwise it returns a string that forms a triangle with height prescribed by `height`.

**Examples**

height=1
```
x
```

height=2
```
 x 
xxx
```

height=3
```
  x  
 xxx 
xxxxx
```

height=4
```
   x   
  xxx  
 xxxxx 
xxxxxxx
```

height=5
```
    x    
   xxx   
  xxxxx  
 xxxxxxx 
xxxxxxxxx
```

height=6
```
     x     
    xxx    
   xxxxx   
  xxxxxxx  
 xxxxxxxxx 
xxxxxxxxxxx
```

In [140]:
def triangle(n):
    if n == 0:
        return ''
    else:
        for i in range(n):
            print(' '*(n-i-1) + 'X'*(2*i+1))
        return

In [141]:
triangle(5)

    X
   XXX
  XXXXX
 XXXXXXX
XXXXXXXXX